<div class="container">
  <div class="card-columns">
    <div class="card" *ngFor="let book of books">
      <img
        class="card-img-top"
        src="https://stmed.net/sites/default/files/square-wallpapers-25312-8924278.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ book.authorName }}</h6>
        <p class="card-text">{{ book.description }}</p>
      </div>
    </div>
  </div>
</div>
